// Minimal site config for nf-core/rnaseq
// Customize executor/queue/resources here as needed

params {
    genomes {
        'GRCh38' {
            fasta              = '/data/ref_genomes/GRCh38/src/GRCh38.primary_assembly.genome.fa'
            gtf                = '/data/ref_genomes/GRCh38/src/gencode.v49.primary_assembly.annotation.gtf'

            star_index         = '/data/ref_genomes/GRCh38/indices/star'
            bowtie2_index      = '/data/ref_genomes/GRCh38/indices/bowtie2'
            bwa_index          = '/data/ref_genomes/GRCh38/indices/bwa/GRCh38'
            salmon_index       = '/data/ref_genomes/GRCh38/indices/salmon'
        }
        'GRCh38_with_ERCC' {
            fasta              = '/data/ref_genomes/GRCh38_with_ERCC/src/GRCh38_with_ERCC.fa'
            gtf                = '/data/ref_genomes/GRCh38_with_ERCC/src/GRCh38_with_ERCC.gtf'

            star_index         = '/data/ref_genomes/GRCh38_with_ERCC/indices/star'
            bowtie2_index      = '/data/ref_genomes/GRCh38_with_ERCC/indices/bowtie2'
            bwa_index          = '/data/ref_genomes/GRCh38_with_ERCC/indices/bwa/GRCh38_with_ERCC'
            salmon_index       = '/data/ref_genomes/GRCh38_with_ERCC/indices/salmon'
        }
        'GRCm39' {
            fasta              = '/data/ref_genomes/GRCm39/src/GRCm39.primary_assembly.genome.fa'
            gtf                = '/data/ref_genomes/GRCm39/src/gencode.vM38.primary_assembly.annotation.gtf'

            star_index         = '/data/ref_genomes/GRCm39/indices/star'
            bowtie2_index      = '/data/ref_genomes/GRCm39/indices/bowtie2'
            bwa_index          = '/data/ref_genomes/GRCm39/indices/bwa/GRCm39'
            salmon_index       = '/data/ref_genomes/GRCm39/indices/salmon'
        }
        'GRCm39_with_ERCC' {
            fasta              = '/data/ref_genomes/GRCm39_with_ERCC/src/GRCm39_with_ERCC.fa'
            gtf                = '/data/ref_genomes/GRCm39_with_ERCC/src/GRCm39_with_ERCC.gtf'

            star_index         = '/data/ref_genomes/GRCm39_with_ERCC/indices/star'
            bowtie2_index      = '/data/ref_genomes/GRCm39_with_ERCC/indices/bowtie2'
            bwa_index          = '/data/ref_genomes/GRCm39_with_ERCC/indices/bwa/GRCm39_with_ERCC'
            salmon_index       = '/data/ref_genomes/GRCm39_with_ERCC/indices/salmon'
        }
        'mRatBN7.2' {
            fasta              = '/data/ref_genomes/mRatBN7.2/src/Rattus_norvegicus.GRCr8.dna.toplevel.fa'
            gtf                = '/data/ref_genomes/mRatBN7.2/src/Rattus_norvegicus.GRCr8.115.gtf'

            star_index         = '/data/ref_genomes/mRatBN7.2/indices/star'
            bowtie2_index      = '/data/ref_genomes/mRatBN7.2/indices/bowtie2'
            bwa_index          = '/data/ref_genomes/mRatBN7.2/indices/bwa/mRatBN7.2'
            salmon_index       = '/data/ref_genomes/mRatBN7.2/indices/salmon'
        }
        'mRatBN7.2_with_ERCC' {
            fasta              = '/data/ref_genomes/mRatBN7.2_with_ERCC/src/mRatBN7.2_with_ERCC.fa'
            gtf                = '/data/ref_genomes/mRatBN7.2_with_ERCC/src/mRatBN7.2_with_ERCC.gtf'

            star_index         = '/data/ref_genomes/mRatBN7.2_with_ERCC/indices/star'
            bowtie2_index      = '/data/ref_genomes/mRatBN7.2_with_ERCC/indices/bowtie2'
            bwa_index          = '/data/ref_genomes/mRatBN7.2_with_ERCC/indices/bwa/mRatBN7.2_with_ERCC'
            salmon_index       = '/data/ref_genomes/mRatBN7.2_with_ERCC/indices/salmon'
        }
        'Sscrofa11.1' {
            fasta              = '/data/ref_genomes/Sscrofa11.1/src/Sus_scrofa.Sscrofa11.1.dna.toplevel.fa'
            gtf                = '/data/ref_genomes/Sscrofa11.1/src/Sus_scrofa.Sscrofa11.1.115.gtf'

            star_index         = '/data/ref_genomes/Sscrofa11.1/indices/star'
            bowtie2_index      = '/data/ref_genomes/Sscrofa11.1/indices/bowtie2'
            bwa_index          = '/data/ref_genomes/Sscrofa11.1/indices/bwa/Sscrofa11.1'
            salmon_index       = '/data/ref_genomes/Sscrofa11.1/indices/salmon'
        }
        'Sscrofa11.1_with_ERCC' {
            fasta              = '/data/ref_genomes/Sscrofa11.1_with_ERCC/src/Sscrofa11.1_with_ERCC.fa'
            gtf                = '/data/ref_genomes/Sscrofa11.1_with_ERCC/src/Sscrofa11.1_with_ERCC.gtf'

            star_index         = '/data/ref_genomes/Sscrofa11.1_with_ERCC/indices/star'
            bowtie2_index      = '/data/ref_genomes/Sscrofa11.1_with_ERCC/indices/bowtie2'
            bwa_index          = '/data/ref_genomes/Sscrofa11.1_with_ERCC/indices/bwa/Sscrofa11.1_with_ERCC'
            salmon_index       = '/data/ref_genomes/Sscrofa11.1_with_ERCC/indices/salmon'
        }
    }
}

process {
    resourceLimits = [
        cpus: __EDIT_ME_MAX_CPUS__,
        memory: '__EDIT_ME_MAX_MEMORY__'
    ]
}
