// Minimal site config for nf-core/methylseq
// Reuse shared FASTA references under /data/ref_genomes.
// Bismark indices can be added later once they are generated and stored centrally.

params {
    genomes {
        'GRCh38' {
            fasta              = '/data/ref_genomes/GRCh38/src/GRCh38.primary_assembly.genome.fa'
            // fasta_index     = '/data/ref_genomes/GRCh38/src/GRCh38.primary_assembly.genome.fa.fai'
            // bismark_index   = '/data/ref_genomes/GRCh38/indices/bismark'
        }
        'GRCm39' {
            fasta              = '/data/ref_genomes/GRCm39/src/GRCm39.primary_assembly.genome.fa'
            // fasta_index     = '/data/ref_genomes/GRCm39/src/GRCm39.primary_assembly.genome.fa.fai'
            // bismark_index   = '/data/ref_genomes/GRCm39/indices/bismark'
        }
        'mRatBN7.2' {
            fasta              = '/data/ref_genomes/mRatBN7.2/src/Rattus_norvegicus.GRCr8.dna.toplevel.fa'
            // fasta_index     = '/data/ref_genomes/mRatBN7.2/src/Rattus_norvegicus.GRCr8.dna.toplevel.fa.fai'
            // bismark_index   = '/data/ref_genomes/mRatBN7.2/indices/bismark'
        }
        'Sscrofa11.1' {
            fasta              = '/data/ref_genomes/Sscrofa11.1/src/Sus_scrofa.Sscrofa11.1.dna.toplevel.fa'
            // fasta_index     = '/data/ref_genomes/Sscrofa11.1/src/Sus_scrofa.Sscrofa11.1.dna.toplevel.fa.fai'
            // bismark_index   = '/data/ref_genomes/Sscrofa11.1/indices/bismark'
        }
    }
}

process {
    resourceLimits = [
        cpus: __EDIT_ME_MAX_CPUS__,
        memory: '__EDIT_ME_MAX_MEMORY__'
    ]
}
